@use "../../styles/_mixins" as *;

.city {
    &__hero__img {
    width: 100%;
    height: 90vh;
    box-shadow: inset 0 0 0 1000px rgba(50, 50, 50, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    object-fit: cover;
    filter:brightness(0.7);
    @include tablet {
        height: 70vh;
    }
    @include desktop{
        height: 80vh;
    }
    }  
    &__hero__content {
        position: absolute;
        top: 15rem;
        padding: 0 1rem;
        @include tablet {
            padding: 0 2rem;
        }
        @include desktop {
            padding: 0 8rem;
        }
    } 
    &__hero__title {
        color: white;
        line-height: 2rem;
        font-size: 1.8rem;
        margin: 0 1rem;

        @include tablet {
            font-size: 2.8rem;
        }

        @include desktop {
            font-size: 3rem;
        }
    }

    &__hero__btn {
        width: 150px;
        margin: 1.5rem 1rem;
        padding: 0.5rem;
        background-color: transparent;
        color: white;
        border: solid 2px white;
        border-radius: 0.1rem;
        font-weight: 500;
        @include tablet {
            margin: 2rem 1rem;
        }
        &:hover {
            border: solid 2px darkorange;
            transition: all 0.5s;
        }
    }
    &__content {
        padding: 1.5rem 1rem;
        @include tablet {
            padding: 2rem;
        }
        @include desktop {
            padding: 2.5rem 8rem;
        }
    }
    &__no-comment {
        color: gray;
        font-size: 0.9rem;
        font-weight: 500;
    }
}
.content {
    &__heading{
        display: flex;
        gap: 0.5rem;
        align-items: baseline;
        margin-bottom: 1rem;
        @include tablet {
            margin-bottom: 1.5rem;
        }
    }
    &__icon{
        width: 30px;
        @include tablet {
            width: 40px;
        }
    }
    &__title {
        @include section-title;
    }
}
// Cost Section
.cost {
    margin-bottom: 1.5rem;
    @include tablet {
        margin-bottom: 2rem;
    }
    &__wrapper {
        @include tablet {
            display: flex;
            gap:1rem;
        }
        @include desktop{
            gap: 2rem;
        }
    }
    &__content {
        flex-grow:1;
    }
    &__menu{
        @include tablet {
            width: 30%;
        }
    }
}
.weather {
    margin-bottom: 1.5rem;
    @include tablet {
        margin-bottom: 2rem;
    }
}
.unavailable__text {
    padding-bottom: 1.5rem;
    font-size: 0.9rem;
    color: gray;
}
.gallery {
    margin: 1.5rem 0;
    @include tablet {
        margin: 2rem 0;
    }
    &__heading {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}
.display-comment-section {
    @include desktop {
        margin: 2rem 0;
    }
}
.attractions-section {
    margin: 1.5rem 0;
    @include tablet {
        margin: 2rem 0;
    }
    @include desktop {
        margin: 2.5rem 0;
    }
}