@use "../../styles/_mixins" as *;

.airQuality {
    display: flex;
    align-items: center;
    background-color: brown;
    margin-bottom: 1.5rem;
    color: white;
    padding: 1rem;
    border-radius: 0.2rem;
    gap: 1rem;
    justify-content: space-between;
    max-width: 450px;
    @include tablet {
        margin-bottom: 2rem;
    }
    &__index {
        font-size: 1rem;
        @include tablet {
            font-size: 2rem;
        }
    }
    &__measurement {
        font-size: 0.8rem;
    }
    &__concentration {
        font-size: 0.7rem;
    }
    &__number {
        text-align: end;
    }
    &__category{
        font-size: 1rem;
        @include tablet {
            font-size: 1.3rem;
        }
    }
}